name: client/web CI

on:
  pull_request:
    branches: [ main ]

  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - run: npm i
        working-directory: web
      - run: npm build
        working-directory: web
      - run: npm test -- --coverage
        working-directory: web
        env:
          CI: "true"          
